/* main大圖 */
main {
  background-color: #fffbef;
  height: calc(100vh - 141px);
  display: flex;
  align-items: center;
  letter-spacing: 5px;
  position: relative;
}

.main_wrapper {
  display: flex;
  align-items: center;
  border: 2px solid #d8b660;
  border-radius: 10px;
  padding: 5vh;
  margin: 0 auto;
}

.main_wrapper::before {
  content: "";
  position: absolute;
  background-image: url("../img/main_ribbons.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 260px;
  top: 0;
  left: 0;
}

.main_wrapper::after {
  content: "";
  position: absolute;
  background-image: url("../img/main_ribbons.png");
  transform: rotate(180deg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 260px;
  bottom: 0;
  right: 0;
}

.main_pic img {
  width: 40vw;
  margin-right: 8vw;
  border-radius: 10px;
}

.main_text {
  text-align: center;
  background: linear-gradient(to right, #ce902e 0, #f8d06b 50%, #ce902e 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-right: 6vw;
}

.main_text > img {
  animation: aaa 2s infinite;
}

.main_text h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}
.main_text span {
  font-size: 2.5rem;
}

.main_text a {
  display: block;
  padding: 0 40px;
  margin: 20px 5px 0;
  background: -webkit-linear-gradient(left, #c7801d 0px, #f7c545 100%);
  border: 1px solid transparent;
  border-radius: 100px;
  color: #fff;
  line-height: 50px;
}

.main_text a:hover img {
  transform: translateX(10px);
}

.main_text a span {
  font-size: 1.8rem;
}

.main_text a img {
  display: inline-block;
  transition: 0.5s;
}

/* 商品頁 */
.product_introduction {
  height: 200px;
  padding-top: 150px;
  text-align: center;
  background-color: #fffbef;
}

.product_p1 {
  font-size: 4rem;
  text-align: center;
  letter-spacing: 1rem;
  margin-bottom: 20px;
  background: linear-gradient(to right, #ce902e 0, #f8d06b 50%, #ce902e 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.product {
  background-color: #fffbef;
  display: flex;
  flex-wrap: wrap;
}

.product img {
  transition: all 1s;
}

.product a:hover img {
  transform: scale(1.2);
}

.prdocut_title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #95592d;
}

.product_text {
  font-size: 2rem;
  line-height: 3.5rem;
  text-align: center;
}

/* 商品1 */
.product1_left {
  background-color: #ffceae;
  flex: 0 0 250px;
  height: 250px;
  border-radius: 50%;
  margin: 60px 30px 50px 230px;
}

.product1_left a {
  position: relative;
  top: -40px;
  left: -124px;
  width: 250px;
}

.product1_left img {
  display: block;
  height: 250px;
  margin-bottom: 30px;
}

.product1_right {
  background-color: #ddebc7;
  height: 250px;
  border-radius: 100vh 0 0 100vh;
  flex: 1 0 0;
  margin: 60px 0 50px 86px;
  display: flex;
}

.product1_right_wrapper {
  margin: 79px 0 0 138px;
}

.product1_right a {
  position: relative;
  width: 190px;
  left: 50px;
  top: -80px;
}

.product1_right img {
  display: block;
  height: 324px;
}

/* 商品2 */
.product2 {
  flex: 0 0 850px;
  height: 250px;
  background-color: #e2d9ee;
  border-radius: 0 250px 250px 0;
  display: flex;
  margin: 200px 300px 0 0;
}

.product2_introduction {
  margin: 80px 0 0 250px;
}

.product2 a {
  position: relative;
  top: -80px;
  left: 50px;
}

/* 商品3 */
.product3_left {
  background-color: #ddebc7;
  border-radius: 50%;
  flex: 0 0 250px;
  height: 250px;
  margin: 70px 0 170px 230px;
}

.product3_left a {
  position: relative;
  width: 190px;
  top: 50px;
  left: 35px;
}

.product3_left img {
  margin-bottom: 120px;
}

.product3_right {
  background-color: #ffceae;
  flex: 0 0 250px;
  height: 250px;
  border-radius: 50%;
  margin: 70px 0 170px 310px;
}

.product3_right a {
  position: relative;
  width: 190px;
  top: 50px;
  left: 35px;
}

.product3_right img {
  margin-bottom: 120px;
}

/* IG圖 */
.ig {
  background-color: #fffbef;
  padding: 100px 20px 50px;
}

.ig_infor {
  display: flex;
  align-items: flex-start;
  max-width: 840px;
  margin: 0 auto;
}

.ig_infor img {
  border: 1px solid #c08332;
  border-radius: 50%;
  padding: 10px;
  margin: 0 20px;
  width: 110px;
}

.ig_infor p {
  font-size: 1.75rem;
  line-height: 1.5;
  font-weight: lighter;
  margin-right: 300px;
}

.ig_infor span {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 20px 0;
  display: block;
}

.ig_infor a {
  width: 160px;
  align-self: center;
  text-align: center;
  background: -webkit-linear-gradient(left, #c7801d 0px, #f7c545 100%);
  color: #fff;
  border-radius: 5px;
  line-height: 35px;
  font-size: 2rem;
}

.ig_infor a:hover {
  border: 1px solid #c7801d;
  color: #c7801d;
  background: #fffbef;
}

/* IG圖 */
.ig_pic {
  display: flex;
  flex-wrap: wrap;
  max-width: 840px;
  margin: 50px auto;
}

.ig_pic li {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  width: calc((100% - 30px) / 3);
  overflow: hidden;
}

.ig_pic li img {
  width: 100%;
}

/* animation */

@keyframes aaa {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-180deg);
  }
}
