/* 開頭 */
.main {
  background: linear-gradient(to bottom, #ede4d7 0, #ffffff 120px);
  text-align: center;
  padding: 90px 0 70px;
}

.main h1 {
  font-size: 5rem;
  color: transparent;
  background: linear-gradient(to right, #ce902e 0px, #f8d06b 50%, #ce902e 100%);
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  max-width: 100%;
}

/* .main::before {
  content: "";
  display: block;
  position: absolute;
  position: absolute;
  top: 1020px;
  left: 142px;
  width: 291px;
  height: 233px;
  background-image: url("../img/member_bgi.png");
}

.main::after {
  content: "";
  display: block;
  position: absolute;
  position: absolute;
  top: 1020px;
  left: 142px;
  width: 291px;
  height: 233px;
  background-image: url("../img/member_bgi.png");
} */

/* 排版 */
main {
  display: flex;
  flex-direction: column;
  padding: 0 300px;
  align-items: center;
  position: relative;
}

main .copper {
  align-self: flex-start;
}

main .silver {
  align-self: flex-end;
}

main .gold {
  align-self: flex-start;
}

/* 會員框共用 */
.member {
  width: 300px;
  height: 400px;
  position: relative;
}

.member::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  border-top: 1px solid #c7801d;
  border-bottom: 1px solid #c7801d;
  position: absolute;
  bottom: 0;
}

.member h3 {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 2px;
  position: relative;
}

.member h3::before {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  border-top: 1px solid #c7801d;
  border-bottom: 1px solid #c7801d;
  position: absolute;
  top: 50%;
  left: 0;
}
.member h3::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  border-top: 1px solid #c7801d;
  border-bottom: 1px solid #c7801d;
  position: absolute;
  top: 50%;
  right: 0;
}

.member p {
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
  padding: 20px 0;
}

.member_expiry {
  text-align: center;
  border-top: 1px solid #e8dfcf;
  border-bottom: 1px solid #e8dfcf;
  padding: 15px 20px;
}

.member_expiry h4 {
  color: #bebebe;
}

.member_expiry span {
  font-size: 4rem;
  font-weight: lighter;
}

.member ul {
  padding: 20px 0;
}

.member li {
  font-size: 2rem;
  font-weight: lighter;
  margin-bottom: 10px;
}

.member li::before {
  content: "•";
  padding-right: 5px;
  color: #c7801d;
}

/* 銅牌會員 */
.copper {
  margin-bottom: 420px;
}

.copper h3 {
  color: #c7801d;
  position: relative;
}

/* 貴賓會員  */
.silver {
  margin-bottom: 420px;
}

.silver::after {
  border-image: linear-gradient(
    to right,
    #a09392 0px,
    #d7d5d5 20%,
    #888383 50%,
    #d7d7d7 100%
  );
  border-image-slice: 1;
}

.silver h3 {
  color: transparent;
  background: -webkit-linear-gradient(
    right,
    #a09392 0px,
    #d7d5d5 20%,
    #888383 50%,
    #d7d7d7 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
}

.silver h3::before {
  border-image: linear-gradient(
    to right,
    #a09392 0px,
    #d7d5d5 20%,
    #888383 50%,
    #d7d7d7 100%
  );
  border-image-slice: 1;
}

.silver h3::after {
  border-image: linear-gradient(
    to right,
    #a09392 0px,
    #d7d5d5 20%,
    #888383 50%,
    #d7d7d7 100%
  );
  border-image-slice: 1;
}

.silver p {
  line-height: 1.6;
}

/* 尊榮會員 */
.gold {
  margin-bottom: 100px;
}

.gold:after {
  border-image: linear-gradient(
    to right,
    #ce902e 0px,
    #f8d06b 50%,
    #ce902e 100%
  );
  border-image-slice: 1;
}

.gold h3 {
  color: transparent;
  background: -webkit-linear-gradient(
    right,
    #ce902e 0px,
    #f8d06b 50%,
    #ce902e 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
}

.gold h3::before {
  border-image: linear-gradient(
    to right,
    #ce902e 0px,
    #f8d06b 50%,
    #ce902e 100%
  );
  border-image-slice: 1;
}

.gold h3::after {
  border-image: linear-gradient(
    to right,
    #ce902e 0px,
    #f8d06b 50%,
    #ce902e 100%
  );
  border-image-slice: 1;
}

.gold p {
  line-height: 1.6;
}

/* 腳印 */
.footer_right {
  position: absolute;
  top: 0;
  right: 0;
}

.footer_left {
  position: absolute;
  top: 81px;
  right: 289px;
  transform: rotateY(180deg);
}
.foot_print {
  position: absolute;
  width: 60px;
}

.foot_print1 {
  top: 142px;
  right: -140px;
  transform: rotate(123.43deg);
}
.foot_print2 {
  top: 257px;
  right: -206px;
  transform: rotate(-55.76deg);
}
.foot_print3 {
  top: 242px;
  right: -344px;
  transform: rotate(136.6deg);
}
.foot_print4 {
  top: 367px;
  right: -329px;
  transform: rotate(-48.62deg);
}
.foot_print5 {
  top: 389px;
  right: -481px;
  transform: rotate(145.67deg);
}
.foot_print6 {
  top: 503px;
  right: -417px;
  transform: rotate(-23.6deg);
}
.foot_print7 {
  top: 546px;
  right: -565px;
  transform: rotate(158.79deg);
}
.foot_print8 {
  top: 669px;
  right: -462px;
  transform: rotate(-5.48deg);
}
.foot_print9 {
  top: 771px;
  right: -578px;
  transform: rotate(-157.51deg);
}
.foot_print10 {
  top: 866px;
  right: -452px;
  transform: rotate(24.21deg);
}

/* 會員計劃按鈕 */
.member_more {
  text-align: center;
  margin-bottom: 80px;
}

.member_more a {
  display: inline-block;
  padding: 0 40px;
  margin: 0 5px;
  background: -webkit-linear-gradient(left, #c7801d 0px, #f7c545 100%);
  border: 1px solid transparent;
  border-radius: 100px;
  color: #fff;
  line-height: 50px;
}

.member_more a:hover img {
  transform: translateX(10px);
}

.member_more span {
  font-size: 1.8rem;
}

.member_more img {
  display: inline-block;
  margin-left: 10px;
  transition: 0.5s;
}

@media screen and (min-width: 1440px) {
  main {
    padding: 90px 370px 70px;
  }
}

@media screen and (min-width: 1920px) {
  main {
    padding: 90px 628px 70px;
  }
}
